// Fontes
$fontPrincipal: roboto, sans-serif;

// Esquema de Cores
$corFundo: #f5f6fa;
$corBottom: #44bd32;
$corBottonHover: #4cd137;
$corHeader: #182C61;
$corFontes: #fff;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;